services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  api:
    build: ./backend
    command: uv run main.py
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/app/uploads
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - REDIS_URI=redis://redis:6379/0
    depends_on:
      - mongodb
      - redis

  worker:
    build: ./worker
    command: uv run main.py
    volumes:
      - ./uploads:/app/uploads
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - REDIS_URI=redis://redis:6379/0
    depends_on:
      - mongodb
      - redis

volumes:
  mongo_data:
  redis_data:
